.container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.container button {
  width: 100%;
}

.costList,
.costFilter {
  grid-column-start: 1;
  grid-column-end: 3;
}

.costFilter input {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.costList select {
  width: 100%;
}

.btnEditArea {
  grid-column-start: 1;
  grid-column-end: 3;
}

.brief {
  grid-column-start: 1;
  grid-column-end: 3;
  background: #eef2f7;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.brief p {
  text-align: center;
}
