.OrdersTable {
  padding-right: 5%;
  padding-left: 5%;
}

.OrdersTable table {
  margin: auto;
  width: 100%;
}

.OrdersTable th,
td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.id {
  width: 10%;
}

.table {
  width: 30%;
}

.status {
  width: 30%;
}

.price {
  width: 30%;
}
