.Cost-Pannel-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.box {
  min-height: 50vh;
}

.margin-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.Bg-White {
  background-color: white;
}

.Icon {
  width: 18px;
  height: 18px;
}
