.RecipeTable {
  padding-right: 5%;
  padding-left: 5%;
}

.RecipeTable table {
  margin: auto;
  width: 100%;
}

.RecipeTable th,
td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.id {
  width: 10%;
}

.desc {
  width: 30%;
}

.family {
  width: 10%;
}

.cost {
  width: 10%;
}

.price {
  width: 10%;
}

.profitAmount {
  width: 10%;
}

.profitPercent {
  width: 10%;
}
