.container {
  padding-right: 5%;
  padding-left: 5%;
}

.container header {
  text-align: center;
}

.container header input {
  width: 50%;
}

.container table {
  margin: auto;
  width: 100%;
}

.container h1 {
  font-size: 1.5rem;
  text-align: center;
}

.container input[type="checkbox"] {
  height: 15px;
}

.container textarea {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.inputArea {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.instructions {
  grid-column-start: 1;
  grid-column-end: 4;
}

.brief {
  grid-column-start: 4;
  grid-column-end: 7;
}

.selectionArea {
  grid-column-start: 1;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.checkboxArea {
  display: grid;
  justify-content: center;
  align-content: center;
}

.lastArea {
  grid-column-start: 4;
  grid-column-end: 5;
}

.lastArea button {
  width: 100%;
}

.advancedBtn {
  color: var(--info);
  cursor: pointer;
  text-align: end;
  font-size: 0.8rem;
}

.deleteBtn {
  color: var(--danger);
  cursor: pointer;
  text-align: end;
  font-size: 0.8rem;
}
