.VariableCostDetail form {
  display: grid;
  grid-template-areas:
    "id id close"
    "desc desc desc"
    "type unit cost"
    "btn-area btn-area btn-area"
    "advanced-area advanced-area advanced-area";
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
    10px
    minmax(80px, auto)
    minmax(80px, auto)
    minmax(80px, auto);
  grid-gap: 20px;
}

.closeBtn {
  grid-area: close;
  text-align: right;
}

.idField {
  grid-area: id;
}

.idField h2 {
  margin-top: 0;
  font-size: 1em;
}

.descField {
  grid-area: desc;
}

.typeField {
  grid-area: type;
}

.unitField {
  grid-area: unit;
}

.costField {
  grid-area: cost;
}

.btnArea {
  grid-area: btn-area;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: end;
}

.advancedArea {
  grid-area: advanced-area;
  display: grid;
  grid-template-columns: 1fr;
  text-align: end;
  font-size: 0.8rem;
}

.advancedBtn {
  color: var(--info);
  cursor: pointer;
}

.deleteBtn {
  color: var(--danger);
  cursor: pointer;
}

.btnEdit {
  grid-column-start: 1;
  grid-column-end: 3;
}

.VariableCostDetail label {
  margin-bottom: 5px;
}

.closeIcon {
  width: 20px;
  height: 20px;
}
