.VariableCostDetail form {
  display: grid;
  grid-template-areas:
    "id id close"
    "desc desc desc"
    "type unit cost"
    "btn-area btn-area btn-area"
    "advanced-area advanced-area advanced-area";
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
    10px
    minmax(80px, auto)
    minmax(80px, auto)
    minmax(80px, auto);
  grid-gap: 20px;
}

.VariableCostDetail .close-btn {
  grid-area: close;
  text-align: right;
}

.VariableCostDetail .id-field {
  grid-area: id;
}

.VariableCostDetail .id-field h2 {
  margin-top: 0;
  font-size: 1em;
}

.VariableCostDetail .desc-field {
  grid-area: desc;
}

.VariableCostDetail .type-field {
  grid-area: type;
}

.VariableCostDetail .unit-field {
  grid-area: unit;
}

.VariableCostDetail .cost-field {
  grid-area: cost;
}

.VariableCostDetail .btn-area {
  grid-area: btn-area;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: end;
}

.VariableCostDetail .advanced-area {
  grid-area: advanced-area;
  display: grid;
  grid-template-columns: 1fr;
  text-align: end;
  font-size: 0.8rem;
}

.VariableCostDetail .advanced-btn {
  color: var(--info);
  cursor: pointer;
}

.VariableCostDetail .delete-btn {
  color: var(--danger);
  cursor: pointer;
}

.VariableCostDetail .btn-edit {
  grid-column-start: 1;
  grid-column-end: 3;
}

.VariableCostDetail input,
select {
  width: 100%;
  margin-top: 10px;
}

.VariableCostDetail label {
  margin-bottom: 5px;
}

.VariableCostDetail .close-icon {
  width: 20px;
  height: 20px;
}
