.VariableCostDetail form {
  display: grid;
  grid-template-areas:
    "id id close"
    "desc desc desc"
    "type unit cost"
    "btn-area btn-area btn-area";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 2fr;
  grid-gap: 20px;
}

.VariableCostDetail .close-btn {
  grid-area: close;
  text-align: right;
}

.VariableCostDetail .id-field {
  grid-area: id;
}

.VariableCostDetail .id-field h2 {
  margin-top: 0;
  font-size: 1em;
}

.VariableCostDetail .desc-field {
  grid-area: desc;
}

.VariableCostDetail .type-field {
  grid-area: type;
}

.VariableCostDetail .unit-field {
  grid-area: unit;
}

.VariableCostDetail .cost-field {
  grid-area: cost;
}

.VariableCostDetail .btn-area {
  grid-area: btn-area;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.VariableCostDetail .edit-btn {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--info);
  border-color: var(--info);
  color: var(--on-info);
}

.VariableCostDetail .save-btn {
  background-color: var(--success);
  border-color: var(--success);
  color: var(--on-success);
}

.VariableCostDetail .cancel-btn {
  background-color: var(--danger);
  border-color: var(--danger);
  color: var(--on-danger);
}

.VariableCostDetail input,
select {
  width: 100%;
  margin-top: 10px;
}

.VariableCostDetail label {
  margin-bottom: 5px;
}

.VariableCostDetail button {
  margin-top: 80px;
}

.VariableCostDetail .close-icon {
  width: 20px;
  height: 20px;
}
