:root {
  --primary-color: #1e88e5;
  --primary-color-light: #6ab7ff;
  --primary-color-dark: #005cb2;
  --success: #28a745;
  --danger: #dc3545;
  --info: #007bff;
  --on-success: #fff;
  --on-danger: #fff;
  --on-info: #fff;
}

input {
  text-align: center;
}

ul {
  list-style-type: none;
}

.margin-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.Bg-White {
  background-color: white;
}

.display-none {
  display: none;
}

.Icon {
  width: 18px;
  height: 18px;
}

/*Standard table*/

table {
  border-collapse: collapse;
  text-align: center;
}

.table-title th {
  background-color: white;
  color: black;
}

.table-header th {
  background-color: var(--primary-color);
  color: #fff;
}

tr:nth-child(even) td {
  background-color: var(--primary-color-light);
}

/*******************************/
