.tableTools {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
}

.iconsContainer {
    display: grid;
    justify-content: center;
    align-content: center;
}

.addIcon {
    height: 25px;
    width: 25px;
}